<div class="block border-all" id='edt_info_bar'>
    <div id="info_bx">
      <div class="hdlne" id="tab-bar">
        <div class="inline-block">
          <a href="#about_edit" >
            <div class="tab">About</div>
          </a>
        </div>
        <div class="inline-block">
          <a href="#ed_edit">
            <div class="tab">Education</div>
          </a>
        </div>
        <div class="inline-block">
          <a href="#wrk_edit">
            <div class="tab">Work</div>
          </a>
        </div>
        <div class="inline-block">
          <a href="#fmly_edit">
            <div class="tab">Family</div>
          </a>
        </div>                
      </div>
      <div id="con_vw_info" class="block">
          
      </div>
    </div>
  </div>