<div class="settings_wrap">
	<div class="settings_privacy">
		<form action="" method="POST" onsubmit="return false;">
			<div><span class='lbl'>Post visibility</span><span><input type="text" placeholder="Post Visibility" /></span></div>
			<div><span class='lbl'>Birthday</span><span><input type="text" placeholder="Birthday"/></span></div>
			<div><span class='lbl'>Profile Visibility</span><span><input type="text" placeholder="Profile Visibility" /></span></div>
			<div><span class='lbl'></span><span><input type="text" /></span></div>
		</form>
	</div>
</div>