	<div class="hdlne">
		<a href="/more_feeds?type=all" onclick="return Feeds.flter(this,'all')" class="fd_fltr"><span class="">All</span></a>
		<a href="/more_feeds?type=comment" onclick="return Feeds.filter(this,'comment')" class="fd_fltr"><span class="">Comment</span></a>
		<a href="/more_feeds?type='photo'" onclick="return Feeds.filter(this,'photo')" class="fd_fltr"><span class="">Photo</span></a>
		<a href="/more_feeds?type='status'" onclick="return Feeds.filter(this,'status')" class="fd_fltr"><span class="">Status</span></a>
	</div>